@charset "UTF-8";

html {
    height: 100%;
}

body {
    background: linear-gradient(#0066ff, yellow);
}

.container {
    height: auto;
}

/*　共通  */
.font {
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
    font-weight: 110;
}

p {
    color: white;
}

a {
    color: white;
    font-size: 12px;
    text-align: center;
    border: none;
}

label {
    color: white;
    display: block;
    text-transform: lowercase;
    font-weight: lighter;
    padding: 8px;
    font-size: 12px;
    margin-left: 15px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    outline: none;
}

form {
    background: rgba(51,
            51,
            51,
            0.4);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    flex-direction: column;
}

.btn {
    background: red;
    color: white;
    border-radius: 8px;
    padding: 8px;
    margin-top: 15px;
    margin-right: 20px;
    width: 90px;
    height: auto;
    border: none;
}

/* Atlasロゴ */
.logout_header {
    margin-top: 90px;
    text-align: center;
}

img {
    width: 100px;
}

.logout_title {
    font-size: 170%;
    color: white;
}

/* フォーム範囲 */
.login {
    width: 260px;
    height: 310px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.register {
    width: 260px;
    height: 100%;
    margin-top: 10px;
}


/* ログイン */
.login_item {
    width: 260px;
    height: auto;
    margin: auto;
    padding-top: 20px;
}

.sub_title {
    padding-top: 20px;
}

.new_user {
    padding-top: 30px;
}

/* 新規登録 */
.login_back {
    padding: 10px;
}

.register_item {
    width: 260px;
    height: auto;
    margin: auto;
}

/* ログイン完了 */
#clear {
    background: rgba(51,
            51,
            51,
            0.4);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    flex-direction: column;
    width: 260px;
    height: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.greeting_block {
    padding-top: 30px;
}

.text_block {
    padding-top: 30px;
}

.added {
    text-align: center;
}

.greeting {
    font-weight: bold;
}

.text {
    font-size: 14px;
}

.start {
    text-align: center;
    font-size: 16px;
    margin: 10px auto 30px auto;
    background: red;
    color: white;
    border-radius: 8px;
    padding: 8px;
    width: 90px;
    height: auto;
    border: none;
}

/* エラーメッセージ */
.alert {
    border: 1px solid crimson;
    background-color: #fff8dc;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.error_msg {
    color: crimson;
    padding: 5px;
}
