@charset "utf-8";

html {
    height: auto;
}

body {
    height: auto;
}

/* 共通 */
p {
    padding: 5px;
    font-size: 15px;
}

img {
    height: 40PX;
    width: auto;
}

.btn_img {
    width: 25px;
    height: 25px;
}

.top_contents {
    padding: 20px 30px;
    border-bottom: solid #c0c0c0;
}

/* 共通「投稿」 */

.login_post {
    border-bottom: 1px solid #c0c0c0;
    height: auto;
    padding: 10px 5px 10px 40px;
}

.auth_post {
    display: flex;
    height: auto;
}

.user_post {
    border-bottom: 1px solid #c0c0c0;
    height: auto;
    display: flex;
    padding: 10px 5px 10px 40px;
}

.post_main {
    height: auto;
    width: 90%
}

.post_name {
    padding-top: 8px;
    font-size: 16px;
}

.post_post {
    font-size: 16px;
    height: auto;
}

.post_time {
    font-size: 8px;
    text-align: right;
}

.btn_block {
    display: flex;
    justify-content: flex-end;
}


/* 共通「ボタン」 */
.btn {
    padding: 5px 10px;
    /* width: 200px; */
    font-size: 10px;
    color: #fff;
}

.btn_hover {
    color: #fff;
    background-color: #186AC9;
}

.btn_list {
    z-index: 1;
    color: #fff;
    background-color: #186AC9;
    width: 100px;
    text-align: center;
    margin-left: auto;
    border-radius: 6px;
}

.btn_search {
    z-index: 1;
    color: #fff;
    background-color: #186AC9;
    width: 100px;
    text-align: center;
    margin: 20px auto;
    border-radius: 6px;
}

.btn_unfollow {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    background-color: #ff4500;
}

.btn_follow {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    background-color: #00bfff;
}



/* ヘッダー */
header {
    height: 60PX;
    width: 100%;
    background: #186AC9;
}

#header_block {
    display: flex;
}

.header_item {
    position: absolute;
    left: 95%;
}

.header_logo {
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    padding-top: 10px;
    z-index: 3;
}

.header_name {
    color: #fff;
}

/* AM　アコーディオンメニュー */
.accordion_menu {
    padding-top: 25px;
    /* padding-right: 5px; */
    z-index: 2;
    flex: 0 0 20%;
}

.menu {
    background: #fff;
    /* 非表示 */
    display: none;
}

.menu_item {
    border: 0.6px solid #808080;
    padding: 1.5rem;
}

.menu_item:hover {
    background-color: #00008b;
}


li {
    text-align: center;
    display: block;
}

.menu_link {
    color: #696969;
    text-decoration: none;
}

.menu_link:hover {
    color: #fff;
    text-decoration: none;
}

.js_btn {
    color: #fff;
    position: relative;
}

/* 矢印下向き */
.js_btn::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
    position: relative;
    right: 10px;
    bottom: 15px;
    margin-left: 60%;
}

/* 矢印上向き */
.js_btn.open::after {
    transform: rotate(-45deg);
}

/* サイドコンテンツ */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.side-font {
    font-size: 12px;
}

.count {
    display: flex;
    margin: 8px;
}


#confirm {
    padding-bottom: 30px;
    border-bottom: solid 0.3px #808080;
}

.side_username {
    padding: 10px;
}


/* モーダル */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #cccccc;
    resize: none;
}

.edit_img {
    position: relative;
    left: 98%;
    top: 10px;
}


/* 新規投稿 */
.new_post {
    width: auto;
    display: flex;
}

.new_form {
    display: flex;
    margin-left: 50px;
    width: auto;
}

.send_img {
    width: 70px;
    height: 70px;
    padding-left: 50px;
    padding-top: 30px;
}


.form-control {
    width: 90%;
}

textarea[name="newPost"] {
    width: 95vh;
    height: 90px;
    border: none;
    resize: none;
    font-size: 16px;
}


/* プロフィール */
.profile {
    display: flex;
}

/* プロフィール編集 */

.edit_area {
    display: flex;
    padding-top: 20px;
    padding-left: 20%;
}

.edit_list {
    padding-left: 30px;
}

.edit_part {
    padding-left: 15px;
}

.edit_item {
    padding: 10px 20px 30px 0px;
    font-size: 18px;
}

.edit_input {
    border: 1px solid #d3d3d3;
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 35px;

}

.input_edit {
    background-color: #f5f5f5;
    border: none;
    width: 250px;
    font-size: 16px;
}


.add_icon {
    border: 1px solid #d3d3d3;
    height: 70px;
    background-color: #f5f5f5;
}

.add_file {
    text-align: center;
    background-color: #ffffff;
    width: 50%;
    color: #d3d3d3;
    margin: 20px auto;
}


input[type="file"] {
    display: none;
}

.edit_btn {
    padding: 30px 100px 0px 30px;
    text-align: center;
}

.update_btn {
    padding: 8px 50px;
    font-size: 16px;
}



/* 検索 */
.search_form {
    border-bottom: solid #c0c0c0;
    display: flex;
}

.keyword {
    margin-left: 40px;
    width: 280px;
    height: 30px;
}

.search_list {
    display: flex;
    padding: 20px 200px 20px 300px;
    width: 40%;
}

.search_img {
    width: 30px;
    position: relative;
    top: 27%;
    padding-left: 10px;
}

.search_word {
    padding-left: 150px;
    padding-top: 20px;
    font-size: 18px;
}

.search_name {
    text-align: center;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 18px;
}

.chart_btn {
    margin-left: auto;
    margin-top: 5px;
    text-align: center;
    height: 100%;
    padding: 10px 20px;
}


/* リスト */
.list {
    border-bottom: solid #c0c0c0;
    height: auto;
    display: flex;
}

h3 {
    margin-right: 20px;
    padding-top: 5px;
    text-align: center;
}

.list_icon {
    padding: 0px 5px 5px 5px;
}

/* 他ユーザープロフィール */
.user_profile {
    width: auto;
    height: auto;
}

.profile_form {
    border-bottom: solid #c0c0c0;
    display: flex;
    height: auto;
}

.profile_list {
    padding-left: 20px;
}

.profile_item {
    padding: 10px;
}

.profile_inside {
    padding-left: 50px;
}

.profile_btn {
    margin-left: auto;
    margin-top: 35px;
    height: 15%;
    padding: 8px;
}

/* エラーメッセージ */
.alert {
    border: 1px solid crimson;
    background-color: #fff8dc;
    width: 500px;
    height: auto;
    margin-left: 140px;
    z-index: 5;
}

.error_msg {
    color: crimson;
    padding: 5px;
}
